# 225150207111001_1 MUHAMMAD NADHIF_1
# 225150201111002_2 NALENDRA MARCHELO_2
# 225150200111005_3 NARENDRA ATHA ABHINAYA_3
# 225150200111003_4 YOSUA SAMUEL EDLYN SINAGA_4

model/
mlruns/

venv/
.venv/
env/
.env

__pycache__/
*.pyc
*.pyo
*.pyd

.ipynb_checkpoints/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

# ...but DO NOT ignore .dvc files and the .gitignore within it.
!/data/*.dvc
!/data/.gitignore

data/combined_data.csv
